html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #18181e;
  display: flex;
  justify-content: center;

}

.container {
  /* min-height: 100%; */
  /* height: auto !important; */
  /* background-image: linear-gradient(to bottom right, #10414D, #D3E3DD); */
  width: 760px;
  height: 760px;
  overflow: hidden;
  border-radius: 2%;
  margin: 0;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;

}



.mcanvas {
  /* border-radius: 10%; */
  margin: 0;
  padding: 0;
}